<div class=">

</div>
<div class="container">
  <br><br><br><br><br><br><br><br>
  <div class="mt-5 container d-flex justify-content-center">
    <div class="card-group ">
        <div class="card border border-secondary">
          <h1><i class="devicon-rails-plain"></i></h1>
        </div>
        <div class="card border border-secondary">
          <h1>
             <i class="devicon-git-plain"></i>
          </h1>
        </div>
        <div class="card border border-secondary">
          <h1>
            <i class="devicon-heroku-plain"></i>
          </h1>
        </div>
        <div class="card border border-secondary">
          <h1><i class="fa-brands fa-js"></i></h1>
        </div>
        <div class="card border border-secondary">
          <h1><i class="fa-brands fa-css3-alt"></i></h1>
        </div>
        <div class="card border border-secondary">
          <h1>
            <i class="fa-brands fa-html5"></i>
          </h1>
        </div>
    </div>
  </div>
</div>
